
1. Write a program which will find all such numbers which are divisble by 7 not  a multiple of 5 between 2000 nd 3200. The numbers obtained should be printed in a comma seperated sequence on a single line.

In [1]:
for i in range(2000,3201):
    if(i%7==0):
        if(i%5!=0):
            print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

2. Write a program to accept the users first and last name and then getting them printed in the reverse order with space between first name and last name

In [3]:
first_name = str(input('Enter the first name'))
last_name = str(input("Enter the last name "))

print('{} {}'.format(last_name,first_name))

Enter the first nametarun
Enter the last name sai
sai tarun

3. Write a Python Program to find the volume of a sphere with diameter 12cm

In [4]:
import math

# Volume formula v= 4/3*pi*r^3
# With diameter d = 2r => r=d/2 replace r with d/2
# new formula v = 1/6*pi*d^3

v = (1/6)*math.pi*(12**3)

print("Volume of sphere with diameter 12 is {}".format(v))

Volume of sphere with diameter 12 is 904.7786842338603

4. Write a program which accepts a sequence of comma-separated numbers from console and generate a list

In [5]:
data = input("Enter comma seperated values")

list1 = data.split(',')

print("The list is {}".format(list1))

Enter comma seperated values1.'tarun','kiran'
The list is ["1.'tarun'", "'kiran'"]

In [23]:
# 5. Printing the stars

for i in range(1,6):
    for _ in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(1,6):
    for _ in range(1,6-i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
#6. Write a program to reverse a string

str1 = str(input("Enter a string :"))

str2=""

for i in range(1,len(str1)+1):
    str2=str2+str1[len(str1)-i]
print(str2)

Enter a string :Inueuron
norueunI

In [39]:
# 7. print

print("WE, THE PEOPLE OF INDIA,\n      having solemnly resolved to constitute india into a SOVEREIGN, !\n\t     SOCIALIST, SECULAR, DEMCRATIC REPUBLIC\n\t      and to secure to all its citizens ")

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute india into a SOVEREIGN, !
	     SOCIALIST, SECULAR, DEMCRATIC REPUBLIC
	      and to secure to all its citizens